In [1]:
import pandas as pd

In [8]:
parquet_file="green_tripdata_2025-11.parquet"
csv_file="taxi_zone_lookup.csv"

df_p=pd.read_parquet(parquet_file)

In [9]:
df_p.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,...,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge,cbd_congestion_fee
0,2,2025-11-01 00:34:48,2025-11-01 00:41:39,N,1.0,74,42,1.0,0.74,7.2,...,0.5,1.94,0.0,NaN,1.0,11.64,1.0,1.0,0.00,0.0
1,2,2025-11-01 00:18:52,2025-11-01 00:24:27,N,1.0,74,42,2.0,0.95,7.2,...,0.5,0.00,0.0,NaN,1.0,9.70,2.0,1.0,0.00,0.0
2,2,2025-11-01 01:03:14,2025-11-01 01:15:24,N,1.0,83,160,1.0,2.19,13.5,...,0.5,5.00,0.0,NaN,1.0,21.00,1.0,1.0,0.00,0.0
3,2,2025-11-01 00:10:57,2025-11-01 00:24:53,N,1.0,166,127,1.0,5.44,24.7,...,0.5,0.50,0.0,NaN,1.0,27.70,1.0,1.0,0.00,0.0
4,1,2025-11-01 00:03:48,2025-11-01 00:19:38,N,1.0,166,262,1.0,3.20,18.4,...,1.5,1.00,0.0,NaN,1.0,24.65,1.0,1.0,2.75,0.0

In [11]:
dtype_csv_file={
    "LocationID":"int64",
    "Borough":"string",
    "Zone":"string",
    "service_zone":"string"    
}

In [17]:
df_csv=pd.read_csv(
    csv_file,
    dtype=dtype_csv_file,
)

In [18]:
df_csv

     LocationID        Borough                     Zone service_zone
0             1            EWR           Newark Airport          EWR
1             2         Queens              Jamaica Bay    Boro Zone
2             3          Bronx  Allerton/Pelham Gardens    Boro Zone
3             4      Manhattan            Alphabet City  Yellow Zone
4             5  Staten Island            Arden Heights    Boro Zone
..          ...            ...                      ...          ...
260         261      Manhattan       World Trade Center  Yellow Zone
261         262      Manhattan           Yorkville East  Yellow Zone
262         263      Manhattan           Yorkville West  Yellow Zone
263         264        Unknown                       NV         <NA>
264         265        Unknown                     <NA>         <NA>

[265 rows x 4 columns]

In [19]:
!uv add sqlalchemy psycopg2

Resolved 120 packages in 1ms
Audited 12 packages in 1ms

In [20]:
from sqlalchemy import create_engine
engine=create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [26]:
df_p.head(0).to_sql(name='yellow_taxi_data',con=engine,if_exists='replace')

0

In [27]:
print(pd.io.sql.get_schema(df_p,name='yellow_taxi_data',con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" INTEGER,
	lpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	lpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	store_and_fwd_flag TEXT,
	"RatecodeID" FLOAT(53),
	"PULocationID" INTEGER,
	"DOLocationID" INTEGER,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type FLOAT(53),
	trip_type FLOAT(53),
	congestion_surcharge FLOAT(53),
	cbd_congestion_fee FLOAT(53)
)

In [28]:
df_csv.head(0).to_sql(name='taxi_zone_lookup',con=engine,if_exists='replace')

0

In [29]:
print(pd.io.sql.get_schema(df_csv,name='taxi_zone_lookup',con=engine))

CREATE TABLE taxi_zone_lookup (
	"LocationID" BIGINT,
	"Borough" TEXT,
	"Zone" TEXT,
	service_zone TEXT
)

In [30]:
from tqdm.auto import tqdm

In [31]:
import pyarrow.parquet as pq
for batch in tqdm(pq.ParquetFile(parquet_file).iter_batches(batch_size=10_000)):
    df_p_chunk = batch.to_pandas().to_sql(name='yellow_taxi_data',con=engine,if_exists='append')

0it [00:00, ?it/s]

In [33]:
df_csv.to_sql(name='taxi_zone_lookup',con=engine,if_exists='append')

265